div {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.field {
  flex-direction: row;
  align-items: center;
}
.field input {
  margin-left: auto;
}
